  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">

  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Sports Better</h1>
        <p class="lead">Bet on live events!</p>
      </div>
    </div>
  </div>
</header>
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-baseball-ball m-auto text-primary"></i>
            </div>
            <h3>Leagues</h3>
            <p class="lead mb-0">Choose Your Leagues</p>
          </div>
        </div>
        <div class="col-lg-4">
           <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
             <i class="fas fa-coins m-auto text-primary"></i>
            </div>
            <h3>Bet</h3>
            <p class="lead mb-0">Place a Bet on Live Events</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-chart-line m-auto text-primary"></i>
            </div>
            <h3>Live Updates</h3>
            <p class="lead mb-0">Live Updates of Bets </p>
          </div>
        </div>
      </div>
    </div>
  </section>

