@user




<h1>Competitors I'm Tracking:</h1>
<% unless @user.my_competitors.empty? %>

<div>
<% @user.my_competitors.each do |e| %>

        <info about each competitor object here><br>

<% end %>
</div>
<% else %>
    <h3>Not Tracking Any Competitors</h3>
<% end %>
<%= link_to "Add a Competitor to Track", find_new_competitor_to_track_path......  %>


<% unless @user.my_outcomes.empty? %>
<h1>Outcomes I'm Tracking:</h1>
<div>
<% @user.my_outcomes.each do |e| %>

        <info about each outcome object here>

<% end %>
</div
<% end %>
