<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-5">
            <br><br><br>
            <%= form_tag wipe_assoc_path do %>
                <h5>Select the button to PERMANENTLY erase any associations between Uncut (Ruby) Gems data and your user account.</h5>
                <%= submit_tag "Delete Associations to Data"%>
            <% end %>
        </div>
        <div class="col-4">
            <%= image_tag "james-holz.png", style: 'height:80%;width:auto;' %>
        </div>
    </div>
</div>