<h3>My Favorite Teams/Players:</h3>
<% unless @user.my("Comp").empty? %>

    <div>
    <% @user.my("Comp").each do |e| %>
        <a href ="<%= remove_track_path(kind: 'Comp', model_id: e.id) %>"><%= image_tag "delete-person.png", size: "20x20" %></a>
        <%= link_to e.name, e %><br />

    <% end %>

<% else %>
    <h6>Not Tracking Any Competitors</h6>
<% end %>
<%= link_to "Track Players and Teams", choose_competitors_path %>
</div>